{%extends "layout.html"%}
{%block body%}
         <style>
          .content-section {
    background: #5BC3D5;
    padding: 5px 15px;
    border: 50px solid #dddddd;
    border-radius: 2px;
    margin-bottom: 1px;
    width:100%;
    length:100%;
    border:blue;
}
         </style>
<div class="content-section">        
				<div class="profile-section pt-3 pt-lg-0">
				    <img class="profile-image mb-3 rounded-circle mx-auto" src="{{image_path}}" alt="image">			
					
					<div class="bio mb-3">
{%if user.information%}

        {{user.information}}
{%endif%}</div><!--//bio-->
					<ul class="social-list list-inline py-3 mx-auto">
			            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="#"><i class="fab fa-github-alt fa-fw"></i></a></li>
			        </ul><!--//social-list-->
			        <hr> 
				</div><!--//profile-section-->
						
                    

       <div class="my-2 my-md-3">
					
				    <a class="btn btn-primary" href="{{url_for("user_post",username=user.username)}}" target="_blank">Posts by Me</a>
				    

				</div>
				{%if current_user==user%}
				<div class="my-2 my-md-3">
					
				    <a href="{{url_for("updateprofile",user_id=current_user.id)}}" class="btn btn-primary" href="https://themes.3rdwavemedia.com/" target="_blank">Update My Profile</a>
				 {%endif%}

				</div>
</div>
{%endblock body%}

