{%extends "layout.html" %}

{%block body%}
	    <section class="cta-section theme-bg-light py-5">
		    <div class="container text-center">
			    <h2 class="heading">DevBlog - A Blog Template Made For Developers</h2>
			    <div class="intro">Welcome to my blog. Kindly view posts and enjoy.</div>
		    </div><!--//container-->
	    </section>
	    <section class="blog-list px-3 py-5 p-md-5">
		    <div class="container">
         
{%if posts%}
    {% for post in posts%}
			    <div class="item mb-5">
				    <div class="media">
					    <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="static/images/blog/blog-post-thumb-1.jpg" alt="image">
					    <div class="media-body">
						    <h3 class="title mb-1"><a href="{{url_for("post",id=post.id)}}">{{post.title}}</a></h3>
						    <div class="meta mb-1"><span class="date">Published {{time_difference}} by {{post.author.username}}</span><span class="comment"><a href="#">8 comments</a></span></div>
						    <div class="intro">{{post.content}}</div>
						    <a class="more-link" href="{{url_for("post",id=post.id)}}">Read more &rarr;</a>
					    </div><!--//media-body-->
				    </div><!--//media-->
			    </div><!--//item-->
    {%endfor%}
{%endif%}
			      <nav class="blog-nav nav nav-justified my-5">
				  <a class="nav-link-prev nav-item nav-link rounded-left" href="{{url_for("home")}}">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
				  <a class="nav-link-next nav-item nav-link rounded-right" href="{{url_for("home")}}">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
				</nav>
{%endblock body%}
    
    
    
    
 

